:root {
  --color-primary: hsl(245, 75%, 52%);
  --color-primary-hover: hsl(245, 83%, 68%);
  --color-bg: hsl(225, 100%, 94%);
  --color-text-muted: hsl(224, 23%, 55%);
  --color-heading: hsl(223, 47%, 23%);
  --color-bg-plan: hsl(240, 100%, 99%);
  --radius: 10px;
}

html {
  background-color: var(--color-bg);
}

body {
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px; 
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 24px;
  box-sizing: border-box;
}

p {
  color: var(--color-text-muted); 
}

h1 {
  color: var(--color-heading);
}

.container {
  background-color: white;
  border: 1px solid var(--color-bg);
  display: flex;
  flex-direction: column; 
  text-align: center;
  border-radius: 25px;
  width: 100%;
  max-width: 450px;
  padding: 0;
  overflow: hidden;
  box-shadow: 0px 15px 40px -20px rgba(224, 41, 224, 0.55);
  background-size: 100% auto;
}

.hero {
  display: block;
  width: 100%;
  height: auto;
}

article {
  padding: 0 48px 48px;
}

.text {
  margin: 16px 12px;
}

p.text {
  line-height: 1.5;
}

h1.text {
  font-size: 1.5em;
  font-weight: 900;
  padding-top: 20px;
  margin-top: 10px;
}

.plan {
  background-color: var(--color-bg-plan);
  padding: 15px;
  margin-bottom: 30px;
  border-radius: var(--radius);
  display: flex;
  gap: 16px;
  align-items: center; 
}

.plan span {
  color: black; 
}

.plan p {
  margin: 0 auto 0 0;
  text-align: left;
  font-weight: 900;
}

.plan a {
  font-size: 0.9em;
  font-weight: 900; 
  color: var(--color-primary);
  padding-right: 5px;
}

.plan a:hover {
  text-decoration: none;
  color: 	var(--color-primary-hover);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.btn  {
  font: inherit;
  font-weight: 900;
  border: none;
  cursor: pointer;
  padding: 16px;
  border-radius: var(--radius);
}

.btn--primary {
  background-color: var(--color-primary);
  color: white;
  box-shadow: 0 20px 20px -10px hsla(245, 75%, 52%, 0.35);
}

.btn--primary:hover {
  background-color: var(--color-primary-hover);
}

.btn--secondary {
  background: none;
  color: var(--color-text-muted);
}

.btn--secondary:hover {
  color: var(--color-heading);
}

a:focus-visible,
button:focus-visible {
  outline: 3px solid var(--color-primary);
  outline-offset: 3px;
}

@media (max-width: 600px) {
  body {
    background-image: url(./images/pattern-background-mobile.svg);   
  }

  article {
    padding: 0 24px 24px;
  }

}
